[submodule "opendbc"]
	path = opendbc
	url = https://github.com/reekotubbs/opendbc/tree/ea0d275b2ce0240c9b3169ba3c6b25c152fac9b5
	branch = bleeding-edge
[submodule "panda"]
	path = panda
	url = https://github.com/flow-drive-ai/panda
[submodule "cereal"]
	path = cereal
	url = https://github.com/flow-drive-ai/cereal
[submodule "rednose_repo"]
	path = rednose_repo
	url = https://github.com/flowdriveai/rednose.git
[submodule "laika_repo"]
	path = laika_repo
	url = https://github.com/flowdriveai/laika.git
